{% extends 'base.html.twig' %}





{% block body %}


 <div class="jumbotron">
    <div class="text-center"><H1>Listes des tags</H1></div>
    <a href="{{ path('app_index') }}">Retour à la page d'accueil</a>
 </div>

<div class="container">
    <div class="d-flex justify-content-center">
        <table class="table table-striped justify-content-center text-center col-5 ">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr class="text-center">
                        <th scope="row">{{ tag.id }}</th>
                        <td><a href="{{ tag.name }}">{{ tag.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}