{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(categories) }}

    <div class="jumbotron ">
        <h1 class="text-center">Listes des catégories</h1>

        <a href="{{ path('add_category') }}">Ajouter une catégory</a>
        <br>
        <a href="{{ path('app_index') }}">Retour à la page d'accueil </a>
    </div>

    <br>


{% endblock %}