{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Bienvenue sur mon blog</h1>
    </div>

    <div class="container">
        <a href="{{ path('article_index')}}">
            1- Articles
        </a>
        <br>
        <a href="{{ path('category_index')}}">
            2- Catégories.
        </a>
        <br>
        <a href="{{ path('tag_index') }}">
            3- tags.
        </a>
    </div>
{% endblock %}

